body {
    font-family: "微软雅黑", Arial;
    line-height: 1.6;
    color: #333;
    background-color: #f0f2f1;
}

header {
    background-color: #534739;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

h1 {
    font-family: "Yu Gothic Light";
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-family:"华文宋体";
    color: #d7cbb2;
    font-size: 20px;
    margin-bottom: 30px;
}

.content {
    width: 80%;
    margin: 40px auto;
    background-color: #e1d5ba;
    padding: 30px;
    border-radius: 5px;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #0f0b15;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 40px;
}

.style-list {
    margin-top: 30px;
}

.style-item {
    background-color: #9e8775;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #534739;
}

.style-item h3 {
    margin-bottom: 10px;
    color: #333;
}

.view-btn {
    display: inline-block;
    background-color: #0d0d0b;
    color: white;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
}

.view-btn:hover {
    background-color: #3a413f;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        padding: 15px;
    }
} 

