body {
    font-family: "微软雅黑","Arial";
    line-height: 1.6;
    color:black;
    background-color:#2f3841;
}

header {
    font-family: "Yu Gothic Light";
    background-color:#505a35;
    color: white;
    text-align: center;
    padding: 5px 0;
}

h1 {
    font-family:chiller,"方正舒体";
    font-size: 46px;
    margin-top:5px;
    margin-bottom: 0px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    width: 80%;
    margin: 40px auto;
    background-color: #233432;
    padding: 30px;
}

p {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
}

img {
    height: auto;
    margin: 20px 85px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #0f0b15;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0055aa;
    text-decoration: none;
}

footer {
    background-color: #0f0b15;
    color: #B57743;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        padding: 15px;
    }
} 

